/* http://meyerweb.com/eric/tools/css/reset/
v2.0 | 20110126
License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
margin: 0;
padding: 0;
border: 0;
font-size: 100%;
font: inherit;
vertical-align: baseline;
box-sizing: border-box;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
display: block;
}
body {
line-height: 1;
font-family: 'Lato', Helvetica, Arial, sans-serif;
background-color: #CED9FC;
}
ol, ul {
list-style: none;
}
blockquote, q {
quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
content: '';
content: none;
}
table {
border-collapse: collapse;
border-spacing: 0;
}

/* ESTILOS BÁSICOS */
.container {
display: block;
width: 100%;
max-width: 960px;
margin: 0 auto;
}
menu {
background-color: #7386D5;
padding: 2em 1em;
}
h1, h2, h3, h4, h5, h6 {
font-family: 'Baloo Bhai', Helvetica, Arial, sans-serif;
}
h1, h2,  h3 {
color: #F03861;
text-align: center;
}
h1 {
font-size: 7rem;
}
h2 {
font-size: 5rem;
}
h3 {
font-size: 2rem;
}
h4 {
font-size: 1.5rem;
}
.lead {
max-width: 660px;
margin: 2em auto 1em;
font-size: 120%;
color: #fff;
font-style: italic;
text-align: center;
}
.lead span {
text-transform: none;
color: #fff;
font-weight: lighter;
letter-spacing: 2px;
padding: 0 1em;
}
form {
width: 90%;
margin: 0 auto;
max-width: 600px;
padding: 0 5%;
font-size: 85%;
}
img {
max-width: 100%;
height: auto;
display:  block;
}
label {
display: block;
font-weight: 800;
color: #7386D5;
margin: 1.2em 0 .5em;
float: left;
}
input, select {
width: 100%;
width: 100%;
border-radius: 3px;
border: none;
line-height: 120%;
padding: 2.5%;
font-size: 120%;
transition: .5s ease all;
background: #CED9FC;
}
input::placeholder {
color: gray;
}
.btn {
display: block;
text-align: center;
font-weight: 800;
cursor: pointer;
color: #7386D5;
background-color: transparent;
letter-spacing: 1px;
font-size: 90%;
padding: 1em 1.5em;
transition: .5s ease all;
margin: 2em auto 1em;
border: 1px solid #7386D5;
width: 100%;
}
.btn:hover, .btn:active, .btn:focus {
background-color: #552cb9;
transition: .5s ease all;
color: #fff;
}
a, a:hover, a:focus, a:active {
	transition: .5s ease all;
}
p {
font-family: 'Lato', Helvetica, Arial, sans-serif;
display: block;
margin: 1em 0;
line-height: 1.4;
}
span {
color: #F03861;
text-transform: uppercase;
}
b {
font-weight: 800;
color: #7386D5;
}
small {
font-size: .8rem;
}
footer {
display: block;
width: 100%;
text-align: center;
color: #fff;
overflow: hidden;
}
/*INPUT CHECK*/
input[type|=check] {
display: inline-block;
width: auto;
}
label[for|=check] {
font-family: 'Lato', Helvetica, Arial, sans-serif;
font-weight: normal;
display: inline-block;
}
/* INPUT NUMBER SIN FLECHAS */
input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
-webkit-appearance: none; 
margin: 0; 
}

/* Especial */

/* MENU */
#logo {
float: left;
}
#logo h1{
color: #fff;
font-size: 3rem;
}
nav {
padding: .8em;
}
nav ul li {
display: inline-block;
}
nav ul li a {
padding: .5em;
color: #CED9FC;
text-transform: uppercase;
font-weight: lighter;
text-decoration: none;
border-top: 1px solid transparent;
border-bottom: 1px solid transparent;
}
nav ul li a:hover,
nav ul li a:focus,
nav ul li a:active {
color: #F03861;
border-top: 1px solid #F03861;
border-bottom: 1px solid #F03861;

}

/* HEADER */
header {
background-image: url('../img/img-5.jpg');
background-position: center;
background-size: cover;
background-repeat: no-repeat;
}
header .content {
margin: 5em 0;
padding: 5em;
background-color: rgba(115, 134, 213, .75);
text-align: center;
}

/* TALES */
#tales {
padding: 2em;
background: #FFEFEF;
}
#tales .tale {
background-color: #7386D5;
}
#tales .tale .image-box {
overflow: hidden;
height: 150px;
}
#tales .tale .text {
border-bottom: 5px solid #F03861;
padding: 1em;
min-height: 250px;
text-align: center;
color: #fff;
}

/* MORE BUNNIES */
#more-bunnies {
padding: 2em;
background-color: #7386D5;
}
#more-bunnies .big-box,
#more-bunnies .little-box,
#more-bunnies .search {
background-color: #A0B6F5;
}
#more-bunnies .big-box .text,
#more-bunnies .little-box .text{
    padding: 2em;
    text-align: justify;
}
#more-bunnies iframe {
width: 100%;
min-height: 360px;
height: auto;
}
#more-bunnies .search {
padding: 1.5em;
border-radius: 5px;
margin-bottom: 1em;
}
#more-bunnies .little-box {
margin-bottom: 1em;
}
.social ul {
    text-align: center;
}
.social ul li {
    padding: .5em;
    display: inline-block;
}
.social ul li a {
    font-size: 1.1rem;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    display: block;
    line-height: 1.9rem;
    background-color: #fff;
    color: #7386D5;
}
.social ul li a:hover,
.social ul li a:focus,
.social ul li a:active {
	color: #F03861;
}

/* FOOTER */
footer .top {
    height: 100px;
    background-image: url('../img/bunny-head.png');
    background-size: contain;
    background-repeat-y: no-repeat;
    margin: 1em 0 0;
}
footer .bot {
	background-color: #7386D5;
    padding: 1em 0;
    border-top: 5px solid #F03861;
}